.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/57e2d1454a56af14f6da8c7dda793678153bdee757596c48732e7bd19344c658bd_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 274px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    margin-top: 172px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 38px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 177px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 105px 20px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1152px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 533px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 20px;
}

.u-section-3 .u-image-1 {
  width: 212px;
  height: 212px;
  object-position: 50% 21.72%;
  margin: 197px auto 0;
}

.u-section-3 .u-text-1 {
  margin: 24px auto -18px 99px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 533px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 210px;
  height: 210px;
  object-position: 50% 0%;
  margin: 199px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 24px auto -28px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 533px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 210px;
  height: 210px;
  margin: 199px 32px 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 24px 106px -28px auto;
}

.u-section-3 .u-layout-wrap-2 {
  width: 697px;
  margin: 54px auto 60px 222px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 510px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 212px;
  height: 212px;
  object-position: 50% 14.11%;
  margin: 100px auto 0 34px;
}

.u-section-3 .u-text-4 {
  margin: 32px auto 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 510px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  width: 210px;
  height: 210px;
  object-position: 50% 15.63%;
  margin: 100px 28px 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 34px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1058px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 439px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -221px;
    margin-left: 56px;
  }

  .u-section-3 .u-text-1 {
    margin: 9px 841px 0 207px;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 439px;
  }

  .u-section-3 .u-text-2 {
    margin: -36px 533px 0 546px;
  }

  .u-section-3 .u-layout-cell-3 {
    background-position: 44.81% 53.43%;
    background-size: 110%;
    min-height: 439px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 23px;
  }

  .u-section-3 .u-text-3 {
    margin: -36px 207px 0 873px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 9px;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-4 {
    width: 135px;
    height: 135px;
    margin-top: -221px;
    margin-left: 67px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 35px;
    margin-right: 693px;
    margin-left: 396px;
  }

  .u-section-3 .u-layout-cell-5 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-text-5 {
    margin-top: 102px;
    margin-right: 396px;
    margin-left: 676px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 159px;
    height: 159px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 763px;
    margin-left: 285px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    width: 159px;
    height: 159px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 535px;
    margin-left: 544px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    width: 159px;
    height: 159px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 285px;
    margin-left: 795px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 661px;
    margin-left: 429px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 429px;
    margin-left: 644px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3201px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 998px;
    margin-right: 691px;
    margin-left: 356px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 528px;
    margin-left: 550px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 341px;
    margin-left: 738px;
  }

  .u-section-3 .u-layout-wrap-2 {
    width: 540px;
    margin-top: 20px;
    margin-right: -138px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 634px;
    margin-left: 455px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 455px;
    margin-left: 617px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2055px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 953px;
    margin-right: 650px;
    margin-left: 415px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -28px;
    margin-right: 553px;
    margin-left: 537px;
  }

  .u-section-3 .u-layout-cell-3 {
    background-position: 47.96% 55.83%;
    background-size: 150%;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -28px;
    margin-right: 435px;
    margin-left: 656px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: -983px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-4 {
    margin-top: -161px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 43px;
    margin-right: 608px;
    margin-left: 492px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 110px;
    margin-right: 492px;
    margin-left: 594px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 291px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -61px auto 0 473px;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0 475px;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 23px auto 0;
  padding: 10px 42px;
}

.u-section-4 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
  padding: 10px 35px;
}

.u-section-4 .u-text-1 {
  margin: 37px auto 23px 360px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-btn-1 {
    margin-left: 373px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 375px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 385px;
  }

  .u-section-4 .u-btn-4 {
    margin-left: 378px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-btn-1 {
    margin-left: 263px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 265px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 275px;
  }

  .u-section-4 .u-btn-4 {
    margin-left: 268px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-btn-1 {
    margin-left: 173px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 175px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 185px;
  }

  .u-section-4 .u-btn-4 {
    margin-left: 178px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 10px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -467px;
    margin-left: 73px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 75px;
  }

  .u-section-4 .u-btn-3 {
    margin-left: 85px;
  }

  .u-section-4 .u-btn-4 {
    margin-left: 78px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 0;
  }
}